In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics
import seaborn as sns
import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.express as px
import requests
pd.options.mode.chained_assignment = None
import os
import matplotlib.pyplot as plt
import sklearn.metrics as metrics

In [2]:
full_data = pd.read_csv('full_data.csv')
full_data.head()

   brand  model  year  transmission  mileage  fuelType  engineSize  price
0      8     75  2016             1    24089         4         2.0  16000
1      8     75  2017             1    18615         4         2.0  15995
2      8     75  2015             1    27469         4         2.0  13998
3      8     75  2017             1    14736         4         2.0  18998
4      8     75  2017             1    36284         4         2.0  17498

In [3]:
print (full_data)

        brand  model  year  transmission  mileage  fuelType  engineSize  price
0           8     75  2016             1    24089         4         2.0  16000
1           8     75  2017             1    18615         4         2.0  15995
2           8     75  2015             1    27469         4         2.0  13998
3           8     75  2017             1    14736         4         2.0  18998
4           8     75  2017             1    36284         4         2.0  17498
...       ...    ...   ...           ...      ...       ...         ...    ...
108535      0     15  2020             1     4018         4         1.0  16999
108536      0     15  2020             1     1978         4         1.0  16999
108537      0     15  2020             1      609         4         1.0  17199
108538      0    123  2017             0     8646         4         1.4  19499
108539      0    123  2016             1    11855         4         1.4  15999

[108540 rows x 8 columns]

In [4]:
full_data.shape

(108540, 8)

In [5]:
full_data.isnull().sum()

brand           0
model           0
year            0
transmission    0
mileage         0
fuelType        0
engineSize      0
price           0
dtype: int64

In [6]:
full_data = full_data.drop_duplicates()

In [7]:
full_data.duplicated().sum()

0

In [8]:
full_data.describe

<bound method NDFrame.describe of         brand  model  year  transmission  mileage  fuelType  engineSize  price
0           8     75  2016             1    24089         4         2.0  16000
1           8     75  2017             1    18615         4         2.0  15995
2           8     75  2015             1    27469         4         2.0  13998
3           8     75  2017             1    14736         4         2.0  18998
4           8     75  2017             1    36284         4         2.0  17498
...       ...    ...   ...           ...      ...       ...         ...    ...
108535      0     15  2020             1     4018         4         1.0  16999
108536      0     15  2020             1     1978         4         1.0  16999
108537      0     15  2020             1      609         4         1.0  17199
108538      0    123  2017             0     8646         4         1.4  19499
108539      0    123  2016             1    11855         4         1.4  15999

[106066 rows x 8 columns]>

In [9]:
print (full_data.dtypes)

brand             int64
model             int64
year              int64
transmission      int64
mileage           int64
fuelType          int64
engineSize      float64
price             int64
dtype: object

In [10]:
data = full_data.dropna(axis=0)
data.describe()

,brand,model,year,transmission,mileage,fuelType,engineSize,price
count,106066.000000,106066.000000,106066.000000,106066.000000,106066.000000,106066.000000,106066.000000,106066.000000
mean,5.362557,76.504007,2017.069787,1.253644,23240.353054,2.267249,1.665071,16857.861445
std,3.324041,51.253354,2.132206,1.030992,21121.886873,1.949426,0.558289,9779.384034
min,0.000000,0.000000,1970.000000,0.000000,1.000000,0.000000,0.000000,450.000000
25%,3.000000,36.000000,2016.000000,1.000000,7752.250000,0.000000,1.200000,10185.500000
50%,6.000000,65.000000,2017.000000,1.000000,17542.500000,4.000000,1.600000,14550.000000
75%,9.000000,113.000000,2019.000000,1.000000,32475.000000,4.000000,2.000000,20870.750000
max,10.000000,194.000000,2060.000000,3.000000,323000.000000,4.000000,6.600000,159999.000000

In [11]:
print (full_data.dtypes)

brand             int64
model             int64
year              int64
transmission      int64
mileage           int64
fuelType          int64
engineSize      float64
price             int64
dtype: object

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.metrics as metrics

In [13]:
from sklearn.model_selection import train_test_split
features = ['brand','model','year',	'transmission',	'mileage',	'fuelType',	'engineSize']
x = full_data[features]
y = full_data['price']
x.shape, y.shape

((106066, 7), (106066,))

In [14]:
# from sklearn.preprocessing import StandardScaler

# scaler = StandardScaler()
# cols=['brand','model','year',	'transmission',	'mileage',	'fuelType',	'engineSize']
# full_data[cols]=scaler.fit_transform(full_data[cols])
# full_data.head()

In [15]:
# from sklearn.model_selection import train_test_split

# x = full_data.drop('price', axis=1)
# y = full_data[['price']]

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=22)

In [17]:
x_train.shape

(84852, 7)

In [18]:
# Modelling

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.neighbors import KNeighborsRegressor

from sklearn.metrics import r2_score

In [20]:
models = {'LR' : LinearRegression(), 
          'DT' : DecisionTreeRegressor(), 
          'RF' : RandomForestRegressor(), 
          'KNN' : KNeighborsRegressor()}

In [21]:
for name, model in models.items() :
    print(name)
    print('-'*10)
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    
    ## score 
    print('Train Score', r2_score(y_train, model.predict(x_train)))
    print('Validation Score', r2_score(y_test, y_pred))
    print('='*50)

LR
----------
Train Score 0.7244110491701441
Validation Score 0.7146503954612284
==================================================
DT
----------
Train Score 0.9985365586874905
Validation Score 0.9017056712499629
==================================================
RF
----------
Train Score 0.9907384724881504
Validation Score 0.9410512802836616
==================================================
KNN
----------
Train Score 0.5988657865525937
Validation Score 0.37146843510777783
==================================================

In [22]:
# Random Forest

In [23]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score

# Data preparation (assuming x_train, y_train, x_test, y_test are already defined)
# x_train, y_train, x_test, y_test = ...

# Models
models = {
    'LR': LinearRegression(),
    'DT': DecisionTreeRegressor(),
    'RF': RandomForestRegressor(),
    'KNN': KNeighborsRegressor()
}

# Parameter grids for each model
param_grids = {
    'LR': {
        'fit_intercept': [True, False],
        'copy_X': [True, False],
        'positive': [True, False]
    },
    'DT': {
        'criterion': ['squared_error', 'friedman_mse', 'absolute_error', 'poisson'],
        'max_depth': [None, 10, 20, 30, 40, 50],
        'min_samples_split': [2, 5, 10],
        'min_samples_leaf': [1, 2, 4]
    },
    'RF': {
        'n_estimators': [100, 200, 300],
        'criterion': ['squared_error', 'absolute_error', 'poisson'],
        'max_depth': [None, 10, 20, 30, 40, 50],
        'min_samples_split': [2, 5, 10],
        'min_samples_leaf': [1, 2, 4]
    },
    'KNN': {
        'n_neighbors': [3, 5, 7, 9, 11],
        'weights': ['uniform', 'distance'],
        'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']
    }
}

# Finding best parameters for each model
for name, model in models.items():
    print(name)
    print('-' * 10)
    
    grid_search = GridSearchCV(model, param_grids[name], cv=5, scoring='r2', n_jobs=-1)
    grid_search.fit(x_train, y_train)
    best_model = grid_search.best_estimator_
    
    y_pred = best_model.predict(x_test)
    
    # Scores
    print("Best Parameters:", grid_search.best_params_)
    print('Train Score', r2_score(y_train, best_model.predict(x_train)))
    print('Validation Score', r2_score(y_test, y_pred))
    print('=' * 50)

LR
----------
Best Parameters: {'copy_X': True, 'fit_intercept': True, 'positive': False}
Train Score 0.7244110491701441
Validation Score 0.7146503954612284
==================================================
DT
----------

In [ ]:
# Random Forest

model = RandomForestRegressor()
model.fit(x_train, y_train)
r2_score(y_train, model.predict(x_train))

0.9906075471734245

In [ ]:
y_pred = model.predict(x_test)
r2_score(y_test, y_pred)

0.9408540341915105

In [ ]:
# Data mobil bekas untuk prediksi
data_mobil_bekas = np.array([[8, 75, 2016, 1, 24089, 4, 2.0]])
# Pastikan urutan fitur sesuai dengan urutan yang diharapkan model

# Melakukan prediksi dengan model
prediction_old = model.predict(data_mobil_bekas)

# Jika Anda memiliki model baru, lakukan prediksi dengan model baru
# Untuk contoh ini, kita anggap model baru sudah dibuat dan disimpan dalam variabel new_model
new_model = RandomForestRegressor()  # Buat contoh model baru, ganti dengan model Anda
new_model.fit(x_train, y_train)
prediction_new = new_model.predict(data_mobil_bekas)

# Menampilkan hasil prediksi dalam Euro dan Rupiah
kurs_gbp_to_eur = 1.15  # Kurs GBP ke EUR
kurs_eur_to_idr = 17554.58 # Kurs EUR ke IDR

# Konversi dari GBP ke EUR
harga_old_eur = prediction_old * kurs_gbp_to_eur
harga_new_eur = prediction_new * kurs_gbp_to_eur

# Konversi dari EUR ke IDR
harga_old_idr = harga_old_eur * kurs_eur_to_idr * 1e-6  # Dalam juta Rupiah
harga_new_idr = harga_new_eur * kurs_eur_to_idr * 1e-6  # Dalam juta Rupiah

print(f'Hasil Prediksi harga mobil bekas dengan old model: £{prediction_old[0]:.2f} atau jika dikonversikan ke Euro: €{harga_old_eur[0]:.2f} atau jika dirupiahkan yaitu: Rp{harga_old_idr[0]:.2f} Juta\n'
      f'Hasil Prediksi harga mobil bekas dengan new model: £{prediction_new[0]:.2f} atau jika dikonversikan ke Euro: €{harga_new_eur[0]:.2f} atau jika dirupiahkan yaitu: Rp{harga_new_idr[0]:.2f} Juta')

c:\PA\cars\Lib\site-packages\sklearn\base.py:464: UserWarning:

X does not have valid feature names, but RandomForestRegressor was fitted with feature names

Hasil Prediksi harga mobil bekas dengan old model: £15939.17 atau jika dikonversikan ke Euro: €18330.05 atau jika dirupiahkan yaitu: Rp321.78 Juta
Hasil Prediksi harga mobil bekas dengan new model: £15851.32 atau jika dikonversikan ke Euro: €18229.02 atau jika dirupiahkan yaitu: Rp320.00 Juta

c:\PA\cars\Lib\site-packages\sklearn\base.py:464: UserWarning:

X does not have valid feature names, but RandomForestRegressor was fitted with feature names

In [ ]:
# import pickle

# filename = 'mobb.sav'
# with open(filename, 'wb') as file:
#     pickle.dump(new_model, file)

In [ ]:
# # Knn


# model = KNeighborsRegressor()
# model.fit(x_train, y_train)
# r2_score(y_train, model.predict(x_train))

In [ ]:
# y_pred = model.predict(x_test)
# r2_score(y_test, y_pred)

#Prediksi

In [ ]:
import pickle

filename = 'mob.sav'
with open(filename, 'wb') as file:
    pickle.dump(new_model, file)