In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics
import seaborn as sns
import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.express as px
import requests
pd.options.mode.chained_assignment = None
import os
import matplotlib.pyplot as plt
import sklearn.metrics as metrics

In [4]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
full_data = pd.read_csv('/content/gdrive/MyDrive/Orbit AI/PA/PA_OFA_7_Gagarin/Model/full_data.csv')
full_data.head()

   brand  model  year  transmission  mileage  fuelType  engineSize  price
0      8     75  2016             1    24089         4         2.0  16000
1      8     75  2017             1    18615         4         2.0  15995
2      8     75  2015             1    27469         4         2.0  13998
3      8     75  2017             1    14736         4         2.0  18998
4      8     75  2017             1    36284         4         2.0  17498

In [6]:
print (full_data)

        brand  model  year  transmission  mileage  fuelType  engineSize  price
0           8     75  2016             1    24089         4         2.0  16000
1           8     75  2017             1    18615         4         2.0  15995
2           8     75  2015             1    27469         4         2.0  13998
3           8     75  2017             1    14736         4         2.0  18998
4           8     75  2017             1    36284         4         2.0  17498
...       ...    ...   ...           ...      ...       ...         ...    ...
108535      0     15  2020             1     4018         4         1.0  16999
108536      0     15  2020             1     1978         4         1.0  16999
108537      0     15  2020             1      609         4         1.0  17199
108538      0    123  2017             0     8646         4         1.4  19499
108539      0    123  2016             1    11855         4         1.4  15999

[108540 rows x 8 columns]

In [7]:
full_data.shape

(108540, 8)

In [8]:
full_data.isnull().sum()

brand           0
model           0
year            0
transmission    0
mileage         0
fuelType        0
engineSize      0
price           0
dtype: int64

In [9]:
full_data = full_data.drop_duplicates()

In [10]:
full_data.duplicated().sum()

0

In [11]:
full_data.describe

<bound method NDFrame.describe of         brand  model  year  transmission  mileage  fuelType  engineSize  price
0           8     75  2016             1    24089         4         2.0  16000
1           8     75  2017             1    18615         4         2.0  15995
2           8     75  2015             1    27469         4         2.0  13998
3           8     75  2017             1    14736         4         2.0  18998
4           8     75  2017             1    36284         4         2.0  17498
...       ...    ...   ...           ...      ...       ...         ...    ...
108535      0     15  2020             1     4018         4         1.0  16999
108536      0     15  2020             1     1978         4         1.0  16999
108537      0     15  2020             1      609         4         1.0  17199
108538      0    123  2017             0     8646         4         1.4  19499
108539      0    123  2016             1    11855         4         1.4  15999

[106066 rows x 8 columns]>

In [12]:
print (full_data.dtypes)

brand             int64
model             int64
year              int64
transmission      int64
mileage           int64
fuelType          int64
engineSize      float64
price             int64
dtype: object

In [13]:
data = full_data.dropna(axis=0)
data.describe()

,brand,model,year,transmission,mileage,fuelType,engineSize,price
count,106066.000000,106066.000000,106066.000000,106066.000000,106066.000000,106066.000000,106066.000000,106066.000000
mean,5.362557,76.504007,2017.069787,1.253644,23240.353054,2.267249,1.665071,16857.861445
std,3.324041,51.253354,2.132206,1.030992,21121.886873,1.949426,0.558289,9779.384034
min,0.000000,0.000000,1970.000000,0.000000,1.000000,0.000000,0.000000,450.000000
25%,3.000000,36.000000,2016.000000,1.000000,7752.250000,0.000000,1.200000,10185.500000
50%,6.000000,65.000000,2017.000000,1.000000,17542.500000,4.000000,1.600000,14550.000000
75%,9.000000,113.000000,2019.000000,1.000000,32475.000000,4.000000,2.000000,20870.750000
max,10.000000,194.000000,2060.000000,3.000000,323000.000000,4.000000,6.600000,159999.000000

In [14]:
print (full_data.dtypes)

brand             int64
model             int64
year              int64
transmission      int64
mileage           int64
fuelType          int64
engineSize      float64
price             int64
dtype: object

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.metrics as metrics

In [16]:
from sklearn.model_selection import train_test_split
features = ['brand','model','year',	'transmission',	'mileage',	'fuelType',	'engineSize']
x = full_data[features]
y = full_data['price']
x.shape, y.shape

((106066, 7), (106066,))

In [17]:
# from sklearn.preprocessing import StandardScaler

# scaler = StandardScaler()
# cols=['brand','model','year',	'transmission',	'mileage',	'fuelType',	'engineSize']
# full_data[cols]=scaler.fit_transform(full_data[cols])
# full_data.head()

In [18]:
# from sklearn.model_selection import train_test_split

# x = full_data.drop('price', axis=1)
# y = full_data[['price']]

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=22)

In [20]:
x_train.shape

(84852, 7)

In [21]:
# Modelling

# Pemodelan

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.neighbors import KNeighborsRegressor

from sklearn.metrics import r2_score

In [23]:
models = {'LR' : LinearRegression(),
          'DT' : DecisionTreeRegressor(),
          'RF' : RandomForestRegressor(),
          'KNN' : KNeighborsRegressor()}

In [24]:
for name, model in models.items() :
    print(name)
    print('-'*10)
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)

    ## score
    print('Train Score', r2_score(y_train, model.predict(x_train)))
    print('Validation Score', r2_score(y_test, y_pred))
    print('='*50)

LR
----------
Train Score 0.7244110491701432
Validation Score 0.7146503954612271
==================================================
DT
----------
Train Score 0.9985365586874905
Validation Score 0.9038903108663322
==================================================
RF
----------
Train Score 0.9909366497395435
Validation Score 0.9410082802551656
==================================================
KNN
----------
Train Score 0.5987442838045058
Validation Score 0.37150914273883817
==================================================

# Evaluasi Model

In [26]:
from sklearn.metrics import r2_score, mean_squared_error

# Train-test split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=22)

# Define models
models = {'LR': LinearRegression(),
          'DT': DecisionTreeRegressor(),
          'RF': RandomForestRegressor(),
          'KNN': KNeighborsRegressor()}

# Iterate through models
for name, model in models.items():
    print(name)
    print('-' * 10)
    model.fit(x_train, y_train)
    y_pred_train = model.predict(x_train)
    y_pred_test = model.predict(x_test)

    # R^2 Score
    train_r2 = r2_score(y_train, y_pred_train)
    test_r2 = r2_score(y_test, y_pred_test)

    # Mean Squared Error
    train_mse = mean_squared_error(y_train, y_pred_train)
    test_mse = mean_squared_error(y_test, y_pred_test)

    # Print scores
    print('Train R^2 Score:', train_r2)
    print('Validation R^2 Score:', test_r2)
    print('Train MSE:', train_mse)
    print('Validation MSE:', test_mse)
    print('=' * 50)

LR
----------
Train R^2 Score: 0.7244110491701432
Validation R^2 Score: 0.7146503954612271
Train MSE: 26341834.225115295
Validation MSE: 27348319.585080218
==================================================
DT
----------
Train R^2 Score: 0.9985365586874905
Validation R^2 Score: 0.9104656459344176
Train MSE: 139881.2555301252
Validation MSE: 8581102.233476408
==================================================
RF
----------
Train R^2 Score: 0.990827669196015
Validation R^2 Score: 0.9416984233865664
Train MSE: 876726.0689114514
Validation MSE: 5587707.584580054
==================================================
KNN
----------
Train R^2 Score: 0.5987442838045058
Validation R^2 Score: 0.37150914273883817
Train MSE: 38353538.942957155
Validation MSE: 60235474.475114554
==================================================

# Random Forest

In [27]:
# Random Forest

model = RandomForestRegressor()
model.fit(x_train, y_train)
r2_score(y_train, model.predict(x_train))

0.9908608050710641

In [28]:
y_pred = model.predict(x_test)
r2_score(y_test, y_pred)

0.9414694387289751

In [29]:
# Data mobil bekas untuk prediksi
data_mobil_bekas = np.array([[8, 75, 2016, 1, 24089, 4, 2.0]])
# Pastikan urutan fitur sesuai dengan urutan yang diharapkan model

# Melakukan prediksi dengan model
prediction_old = model.predict(data_mobil_bekas)

# Jika Anda memiliki model baru, lakukan prediksi dengan model baru
# Untuk contoh ini, kita anggap model baru sudah dibuat dan disimpan dalam variabel new_model
new_model = RandomForestRegressor()  # Buat contoh model baru, ganti dengan model Anda
new_model.fit(x_train, y_train)
prediction_new = new_model.predict(data_mobil_bekas)

# Menampilkan hasil prediksi dalam Euro dan Rupiah
kurs_gbp_to_eur = 1.15  # Kurs GBP ke EUR
kurs_eur_to_idr = 17554.58 # Kurs EUR ke IDR

# Konversi dari GBP ke EUR
harga_old_eur = prediction_old * kurs_gbp_to_eur
harga_new_eur = prediction_new * kurs_gbp_to_eur

# Konversi dari EUR ke IDR
harga_old_idr = harga_old_eur * kurs_eur_to_idr * 1e-6  # Dalam juta Rupiah
harga_new_idr = harga_new_eur * kurs_eur_to_idr * 1e-6  # Dalam juta Rupiah

print(f'Hasil Prediksi harga mobil bekas dengan old model: £{prediction_old[0]:.2f} atau jika dikonversikan ke Euro: €{harga_old_eur[0]:.2f} atau jika dirupiahkan yaitu: Rp{harga_old_idr[0]:.2f} Juta\n'
      f'Hasil Prediksi harga mobil bekas dengan new model: £{prediction_new[0]:.2f} atau jika dikonversikan ke Euro: €{harga_new_eur[0]:.2f} atau jika dirupiahkan yaitu: Rp{harga_new_idr[0]:.2f} Juta')

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning:

X does not have valid feature names, but RandomForestRegressor was fitted with feature names

Hasil Prediksi harga mobil bekas dengan old model: £15916.12 atau jika dikonversikan ke Euro: €18303.54 atau jika dirupiahkan yaitu: Rp321.31 Juta
Hasil Prediksi harga mobil bekas dengan new model: £15972.46 atau jika dikonversikan ke Euro: €18368.33 atau jika dirupiahkan yaitu: Rp322.45 Juta

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning:

X does not have valid feature names, but RandomForestRegressor was fitted with feature names

In [ ]:
import pickle

filename = 'mob.sav'
with open(filename, 'wb') as file:
    pickle.dump(new_model, file)

In [ ]:
# # Knn


# model = KNeighborsRegressor()
# model.fit(x_train, y_train)
# r2_score(y_train, model.predict(x_train))

In [ ]:
# y_pred = model.predict(x_test)
# r2_score(y_test, y_pred)

#Prediksi

In [ ]:
# import pickle

# filename = 'mob.sav'
# with open(filename, 'wb') as file:
#     pickle.dump(new_model, file)